<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>187102056573-vis73dfj1m9li20g34n358g14kf3seq2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.187102056573-vis73dfj1m9li20g34n358g14kf3seq2</string>
	<key>API_KEY</key>
	<string>AIzaSyBj2aKORkLtYwaDhDPEBhZeS3tMEVww-0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>187102056573</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>amitay.the-calander</string>
	<key>PROJECT_ID</key>
	<string>calendar-bdead</string>
	<key>STORAGE_BUCKET</key>
	<string>calendar-bdead.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187102056573:ios:c8fabe79f7445be0</string>
	<key>DATABASE_URL</key>
	<string>https://calendar-bdead.firebaseio.com</string>
</dict>
</plist>